{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      },
      "useBuiltIns": "usage",
      "debug": false
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}
